/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
    margin: 0;
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #1f1f1f;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%; }

/* Sticky Footer Map */
html,
body {
  height: 100%; }

#map {
  height: 85em; }

.pagewrap {
  min-height: 100%;
  margin-bottom: -85em; }

.pagewrap:after {
  height: 83em;
  content: '';
  display: block; }

/* ----------- Colors ----------- */
/* Plain White */
.heading {
  background: white; }

/* Emerald Green #2ecc71 */
.bar {
  background: #2ecc71; }
.directions span {
  color: #2ecc71; }

/* Alazarin Red-Orange #e74c3c */
/* Peter River #3498db */
.target {
  background: #3498db; }

/* ----- initial positions ------ */
.heading,
.target {
  position: relative;
  top: -2.75em;
  margin: 0 auto; }

.target { 
  top: -5em; }
/* ------------------------------ */

img {
  width: 35%;
  margin: 3% 0 4% 5%; }

.compass {
  width: 90%;
  margin: 0 auto 3em; }

  .directions {
    text-align: justify; }

    .directions span {
      display: inline-block;
      font-size: 5em;
      font-weight: bold;
      text-align: left; }

  .directions:after {
    content: '';
    width: 100%;
    display: inline-block; }

  .bar {
    margin: 1em 0;
    height: 13px; }

  .heading {
    z-index: 2;
    height: 30px;
    width: 2px; }

  .target {
    border-radius: 30px;
    height: 2em;
    width: 2em; }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

